<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action</key>
	<false/>
	<key>background</key>
	<true/>
	<key>category</key>
	<string>APPLESCRIPTS</string>
	<key>command</key>
	<string>{{script}}</string>
	<key>disabled</key>
	<false/>
	<key>keyword</key>
	<string>resize</string>
	<key>parameter</key>
	<integer>0</integer>
	<key>subtitle</key>
	<string>resizes window (t, b, r, l, tl, tr, bl, br, c, f or m)</string>
	<key>title</key>
	<string>Layouts</string>
</dict>
</plist>
